{% set selected_tab='explore_books' %}

<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
<div class="border-b pt-4 border-gray-200 dark:border-gray-700">
  <!-- prettier-ignore -->
  <h1 class="inline font-extrabold text-base md:text-[2rem] dark:text-white ml-4 mt-5">Open Common Law</h1>
  <div class="flex justify-between items-center mt-5">
    <p
      class="block text-xs md:text-base ml-4 md:w-2/3 text-gray-500 text-left md:text-left dark:text-gray-400 w-full">
      An open-source law hosting platform that allows online communities to
      easily create, collaborate, and publish their own body of law.
    </p>
    <!-- prettier-ignore -->
    {% if current_user.is_authenticated %}
      {% include 'book/components/header_buttons.html' %}
    {% endif %}
  </div>
  <!-- prettier-ignore -->
  <ul class="flex md:flex-wrap -mb-px text-xs md:text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
    <li class="md:mr-2 w-full md:w-auto flex items-center justify-center" role="presentation">
      <!-- prettier-ignore -->
      <a href="{{url_for('home.get.all')}}" class="inline-flex py-4 md:p-4 items-center rounded-t-lg" id="last-interpretations-tab" data-tabs-target="#last-interpretations" type="button" role="tab" aria-controls="last-interpretations" aria-selected="false"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3"> <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" /> </svg>
        Latest Interpretations
      </a>
    </li>
    <li class="md:mr-2 w-full md:w-auto flex items-center justify-center" role="presentation">
      <!-- prettier-ignore -->
      <button  class="inline-flex py-4 md:p-4 items-center rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300" id="explore-books-tab" data-tabs-target="#explore-books" type="button" role="tab" aria-controls="explore-books" aria-selected="true"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3"> <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" /> </svg>
        Explore Books
      </button>
    </li>
  </ul>
</div>

<div
  class="md:hidden flex justify-end border-b py-3 px-4 border-gray-200 dark:border-gray-700">
  {% include 'book/components/sort_by_btn.html' %}
</div>

<div id="myTabContent">
  <!-- prettier-ignore -->
  <div class="hidden md:p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="last-interpretations" role="tabpanel" aria-labelledby="last-interpretations-tab"></div>
  <div
    class="hidden md:p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
    id="explore-books"
    role="tabpanel"
    aria-labelledby="explore-books-tab">
    {% if not books.total %}
    <p
      class="hidden md:block text-l ml-4 w-1/2 mt-2 text-gray-500 text-center md:text-left dark:text-gray-400">
      Books not found!
    </p>
    {% endif %} {% for book in books if not book.is_deleted %} {% include
    'book/components/book_list_item.html' %} {% endfor %}
  </div>
  {% if current_user.is_authenticated and page.pages > 1 %}
  <div class="container content-center mt-3 flex bg-white dark:bg-gray-800">
    <nav aria-label="Page navigation example" class="mx-auto">
      <ul class="inline-flex items-center -space-x-px">
        <li>
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page=1&q={{page.query}}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">First</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"> <path fill-rule="evenodd" d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z" clip-rule="evenodd" /> </svg>
        </a>
        </li>
        <li>
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page={{page.page-1 if page.page > 1 else 1}}&q={{page.query}}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"> <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" /> </svg>
        </a>
        </li>

        <!-- prettier-ignore -->
        {% for p in page.pages_for_links %}
        <li>
          <!-- prettier-ignore -->
          {% if p == page.page %}
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page={{p}}&q={{page.query}}" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{p}}</a>
          {% else %}
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page={{p}}&q={{page.query}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{p}}</a>
          {% endif %}
        </li>
        {% endfor %}

        <li>
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page={{page.page+1 if page.page < page.pages else page.pages}}&q={{page.query}}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <!-- prettier-ignore -->
          <span class="sr-only">Next</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"> <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" /> </svg>
        </a>
        </li>
        <li>
          <!-- prettier-ignore -->
          <a href="{{ url_for('home.explore_books') }}?page={{page.pages}}&q={{page.query}}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <!-- prettier-ignore -->
          <span class="sr-only">Last</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"> <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" /> <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" /> </svg>
        </a>
        </li>
      </ul>
    </nav>
  </div>
  {% endif %}
</div>
{% endblock %}
