{% set selected_tab='explore_books' %}

<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
<div class="border-b pt-1 border-gray-200 dark:border-gray-700">
  <!-- prettier-ignore -->
  <h1 class="hidden md:inline font-extrabold text-lg dark:text-white ml-4 mt-5">Open Common Law</h1>
  <div class="flex justify-between">
    <p
      class="hidden md:block text-sm ml-4 w-1/2 text-gray-500 text-center md:text-left dark:text-gray-400">
      An open-source law hosting platform that allows online communities to
      easily create, collaborate, and publish their own body of law.
    </p>
    <div class="flex">
      <!-- prettier-ignore -->
      {% if current_user.is_authenticated %}
      {% include 'book/components/header_buttons.html' %}
      {% endif %}
    </div>
  </div>
  <!-- prettier-ignore -->
  <ul class="flex md:flex-wrap -mb-px text-xs md:text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
    <li class="md:mr-2 w-full md:w-auto flex items-center justify-center" role="presentation">
      <!-- prettier-ignore -->
      <a href="{{url_for('home.get_all')}}" class="inline-flex py-4 md:p-4 items-center rounded-t-lg" id="last-interpretations-tab" data-tabs-target="#last-interpretations" type="button" role="tab" aria-controls="last-interpretations" aria-selected="false"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3"> <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" /> </svg>
        Latest Interpretations
      </a>
    </li>
    <li class="md:mr-2 w-full md:w-auto flex items-center justify-center" role="presentation">
      <!-- prettier-ignore -->
      <button  class="inline-flex py-4 md:p-4 items-center rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300" id="explore-books-tab" data-tabs-target="#explore-books" type="button" role="tab" aria-controls="explore-books" aria-selected="true"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3"> <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" /> </svg>
        Explore Books
      </button>
    </li>
  </ul>
</div>
<div id="myTabContent">
  <!-- prettier-ignore -->
  <div class="hidden md:p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="last-interpretations" role="tabpanel" aria-labelledby="last-interpretations-tab"></div>
  <div
    class="hidden md:p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
    id="explore-books"
    role="tabpanel"
    aria-labelledby="explore-books-tab">
    {% if not books.total %}
      <p
        class="hidden md:block text-l ml-4 w-1/2 mt-2 text-gray-500 text-center md:text-left dark:text-gray-400">
        Books not found!
      </p>
    {% endif %}

    {% for book in books if not book.is_deleted %}
      {% include 'book/components/book_list_item.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
