<div
  class="flex flex-col ml-6"
  data-entity-id="{{section.id}}"
  data-entity-type="section"
  data-book-id="{{book.id}}">
  <!-- prettier-ignore -->
  <button type="button" href="#section-{{section.label}}" id="section-heading-{{section.id}}" class="w-full text-gray-500 dark:text-gray-400">
    <!-- prettier-ignore -->
    <form id="rename-section-label-form-{{section.id}}" data-book-id="{{book.id}}" data-collection-id="{{collection.id}}" {% if sub_collection %} data-sub-collection-id="{{sub_collection.id}}" {% endif %} data-section-id="{{section.id}}" method="post" class="w-full inline-block">
      {{ form_hidden_tag() }}
      <input class="w-full truncate bg-inherit border-none underline" value="{{section.label}}" type="text" name="label" id="edit-section-label-{{section.id}}" placeholder="Section label" required readonly />
      <button name="submit" type="submit"></button>
    </form>
  </button>
  <!-- prettier-ignore -->
  <svg id="dropdownSectionContextButton{{section.id}}" data-dropdown-toggle="dropdown" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 0 0" stroke-width="1.5" stroke="none" class="w-0 h-0"></svg>
  <!-- prettier-ignore -->
  <div data="section-context-menu-{{section.id}}" id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-800 border border-gray-800 dark:border-none dark:divide-gray-100 rounded-lg shadow dark:bg-gray-700">
    {% include 'book/components/section_context_menu.html' %}
  </div>
</div>
