<!-- prettier-ignore -->
<ol class="flex items-center overflow-x-scroll md:overflow-auto p-0 pb-1 mb-1">
    {% for breadcrumb in local_breadcrumbs if breadcrumb.type != "MyBookList" and breadcrumb.type != "AuthorBookList" %}
        {% if breadcrumb.type != 'Splitter' %}
            <li class="flex items-center align-middle justify-center">
                <a
                    href="{{ breadcrumb.url }}"
                    class="flex text-xs font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white
                    {% if loop.index==local_breadcrumbs|length-1 %}
                        font-bold
                    {% else %}
                        font-medium
                    {% endif %}
                    "
                >
                    <!-- prettier-ignore -->
                    <span class="select-none whitespace-nowrap">{{ breadcrumb.label }}</span>
                </a>

                {% if not loop.index==local_breadcrumbs|length-1 %}
                <svg aria-hidden="true" class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path> </svg>
                {% endif %}
            </li>
        {% else %}
            <li class="flex items-center mx-1">
                <span class="text-sm truncate font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white select-none ">{{ breadcrumb.label }}</span>
                <svg aria-hidden="true" class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path> </svg>
            </li>
        {% endif %}
    {% endfor %}
</ol>