<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title %}Reactivate Profile{% endblock %}

{% block content %}

{% include 'user/delete_profile_modal.html' %}

<!-- component -->
<section>
  <div class="w-full lg:w-4/12 px-4 mx-auto pt-6">
    <div>
      <!-- prettier-ignore -->
      <div class="w-full lg:max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow-xl dark:bg-gray-800">
          <h2 class="text-2xl font-bold text-gray-900 dark:text-white">You profile where deactivated earlier. Do you want to reactivate it?</h2>
          <!-- prettier-ignore -->
          <form class="mt-8 space-y-6 from" role="form" action="{{ url_for('user.profile_reactivate') }}" method="post">
            {{ form.hidden_tag() }}
            <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reactivate profile</button>
          </form>
        </div>
    </div>
  </div>
</section>
{% block right_sidebar %}{% endblock %}
<!-- prettier-ignore -->
{% endblock %}
